/*for page "Contacts"*/
/*-------------------*/
/*****************************
			fonts
*****************************/
/*pfsquaresanspro-medium*/
@font-face {
  font-family: 'pfsquaresanspro-medium';
  src: url('../fonts/pfsquaresanspro-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'pfsquaresanspro-regular';
  src: url('../fonts/pfsquaresanspro-regular.ttf') format('truetype');
}
/*pfsquaresanspro-bold*/
@font-face {
  font-family: 'pfsquaresanspro-bold';
  src: url('../fonts/pfsquaresanspro-bold.ttf') format('truetype');
}
/*OPEN SANS*/
@font-face {
  font-family: Franklin Gothic Medium Regular;
  src: url(../fonts/Franklin-Gothic-Medium-Regular.ttf);
}
/*Century Gothic Bold*/
@font-face {
  font-family: 'GOTHICB';
  src: url('../fonts/GOTHICB.TTF') format('truetype');
}
/*Century Gothic Bold Italic*/
@font-face {
  font-family: 'GOTHICBI';
  src: url('../fonts/GOTHICBI.TTF') format('truetype');
}
/*Marta Italc*/
@font-face {
  font-family: 'marta_italic';
  src: url('../fonts/marta_italic.otf') format('opentype');
}
/*Caviar Dreams*/
@font-face {
  font-family: '7fonts.ru_CaviarDreams';
  src: url('../fonts/7fonts.ru_CaviarDreams.ttf') format('truetype');
}
/*Caviar Dreams Bold*/
@font-face {
  font-family: '7fonts.ru_CaviarDreams_Bold';
  src: url('../fonts/7fonts.ru_CaviarDreams_Bold.ttf') format('truetype');
}
/*****************************
			main
*****************************/
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
  /*отключить внешние границы*/
  background: transparent;
  /*отключить background*/
}
a,
h1,
h2,
h3,
i,
p {
  font-family: 'pfsquaresanspro-regular';
}
button {
  outline: none;
}
h2 {
  text-align: center;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
.container {
  max-width: 1030px;
}
.calculator,
.list,
.people,
.target,
.cogwheel {
  background: url(../images/sprites.png) no-repeat;
}
body {
  overflow-x: hidden;
  margin-top: -20px;
}
/*****************************
			header
*****************************/
header .social {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-top: 31px;
  margin-left: 40px;
}
header .social p {
  font-family: Franklin Gothic Medium Regular;
  font-size: 18px;
  margin-bottom: 7px;
}
header .social ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 12px;
}
header .social a {
  display: inline-block;
  text-decoration: none;
}
header .social a li {
  background: #ff6501;
  display: inline-block;
  color: #fff;
  padding: 18px;
  border-radius: 22px;
  margin-right: 10px;
  position: relative;
}
header .social a li i {
  position: absolute;
  z-index: 10;
  top: 7px;
  left: 9px;
  font-size: 22px;
}
header .social a li i.fa-facebook {
  padding-left: 2px;
}
header .social a li i.fa-vk {
  margin-left: -3px;
}
header .social a li:hover i {
  color: #d7d7d7;
}
header .social button {
  width: 97%;
  margin-left: 3px;
  background: #ff6501;
  border: 0;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 22px;
  font-size: 19px;
  padding: 0px 13px;
  border-radius: 18px;
}
header .social button:hover {
  color: #d7d7d7;
}
header .logo {
  width: 254px;
  margin-left: 45px;
  display: table;
  margin-right: auto;
  padding-right: 30px;
}
header .logo img {
  width: 100%;
}
header .phones {
  margin-left: 24px;
  padding-top: 23px;
  padding-left: 24px;
  width: 123%;
}
header .phones P {
  font-size: 18.65px;
  margin-bottom: 0;
}
header .phones ul {
  margin-top: -3px;
}
header .phones ul li {
  font-size: 20px;
  font-family: Franklin Gothic Medium Regular;
  line-height: 1.88;
}
header .phones ul li i {
  width: 24px;
  height: 24px;
  padding-left: 5px;
  padding-top: 4px;
  border-radius: 24px;
  background: #ff6501;
  margin-right: 2px;
  font-size: 18px;
  color: white;
}
header .phones ul li .fa-mobile-last {
  padding-left: 7px;
  padding-top: 1px;
  font-size: 22px;
}
/*****************************
		navigation
*****************************/
section.navigation {
  background: #ff6501;
}
section.navigation .navbar {
  margin-bottom: 0;
}
section.navigation .navbar .navbar-header button {
  border: 2px solid white !important;
}
section.navigation .navbar .navbar-header button .icon-bar {
  background-color: #fff !important;
}
section.navigation .navbar #responsive-menu ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 15px;
  padding-top: 2px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
}
section.navigation .navbar #responsive-menu ul.navbar-nav {
  float: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li {
  padding: 5px 20px;
  float: none;
  position: relative;
  display: inline-block;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li:hover .jaw div {
  -webkit-transform: translateY(8px);
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a:hover {
  color: #d7d7d7;
}
/*****************************
		main slider
*****************************/
section#main_slider .carousel-inner .item {
  border-bottom: 2px solid #ff6501;
}
section#main_slider .carousel-inner .item .carousel-img {
  width: 100%;
  height: 410px;
  background: url(../images/main_slider1.jpg) no-repeat center;
  background-size: cover;
}
section#main_slider .carousel-inner .item .container {
  margin-top: -1px;
}
section#main_slider .carousel-inner .item .container .carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  padding: 37px;
  right: 0;
  left: 15px;
  text-align: left;
  top: 103px;
  width: 433px;
  height: 245px;
  border-radius: 28px;
}
section#main_slider .carousel-inner .item .container .carousel-caption p {
  font-size: 18px;
}
section#main_slider .carousel-inner .item .container .carousel-caption p:first-child {
  font-size: 40px;
  margin-bottom: 1px;
}
section#main_slider .carousel-inner .item .container .carousel-caption button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section#main_slider .carousel-inner .item .container .carousel-caption button:hover {
  color: #d7d7d7;
}
/*****************************
		services
*****************************/
section.services {
  text-align: center;
  margin-bottom: 25px;
}
section.services h2 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #000;
}
section.services .service-item {
  height: 216px;
  overflow-y: hidden;
  margin-bottom: 13px;
}
section.services .service-item h3 {
  font-size: 18px;
  line-height: 1.2;
  color: #333333;
}
section.services .service-item p {
  padding: 0 3px;
  font-size: 12.5px;
  line-height: 1.2;
  color: #333333;
}
section.services .service-item div.service-img {
  text-align: center;
}
section.services .service-item div.service-img .calculator {
  background-position: 0 0;
  width: 84px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .calculator:hover {
  background-position: -79px 0;
}
section.services .service-item div.service-img .list {
  background-position: -167px -4px;
  width: 101px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .list:hover {
  background-position: -265px -3px;
}
section.services .service-item div.service-img .people {
  background-position: -368px 0;
  width: 100px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .people:hover {
  background-position: -468px 0;
}
section.services .service-item div.service-img .target {
  background-position: 0 -97px;
  width: 88px;
  height: 98px;
  display: block;
  margin: 0 auto;
}
section.services .service-item div.service-img .target:hover {
  background-position: -93px -99px;
}
section.services .service-item div.service-img .cogwheel {
  background-position: -184px -96px;
  width: 99px;
  height: 98px;
  margin: 0 auto;
  display: block;
}
section.services .service-item div.service-img .cogwheel:hover {
  background-position: -279px -98px;
}
/*****************************
		img_block
*****************************/
section.img_block {
  background: url(../images/img_block.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  margin-top: 20px;
  border-top: 2px solid #ff6501;
  border-bottom: 2px solid #ff6501;
}
section.img_block .info_block {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px 50px;
  margin: 45px 0;
  text-align: left;
  width: 433px;
  border-radius: 28px;
}
section.img_block .info_block p {
  font-size: 32px;
}
section.img_block .info_block p:first-child {
  font-size: 40px;
  margin-bottom: 1px;
}
section.img_block .info_block button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section.img_block .info_block button:hover {
  color: #d7d7d7;
}
/*****************************
			propose
*****************************/
section.propose {
  margin-bottom: 18px;
}
section.propose h2 {
  margin: 30px 0px;
  font-size: 24px;
  color: #000;
}
section.propose .slide {
  padding: 1px;
  text-align: center;
  border: 1px solid #ff6501;
  margin-bottom: 20px;
  cursor: pointer;
  height: 225px;
  overflow: hidden;
}
section.propose .slide:hover .order {
  -webkit-transform: translateY(-120px);
  -moz-transform: translateY(-120px);
  -o-transform: translateY(-120px);
  transform: translateY(-120px);
}
section.propose .slide .info_block {
  position: relative;
}
section.propose .slide .info_block button {
  color: #fff;
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 30px;
  font-size: 17px;
}
section.propose .slide .info_block button:hover {
  color: #d7d7d7;
}
section.propose .slide .info_block h3 {
  margin-top: 0;
  padding: 20px 0 5px 0;
}
section.propose .slide .info_block p {
  margin-bottom: 0;
  padding-bottom: 20px;
}
section.propose .slide .info_block .order {
  padding: 32px 0;
  font-size: 26px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  background-color: #ff6501;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 120px;
  -webkit-transition: transform 600ms;
  -moz-transition: transform 600ms;
  -o-transition: transform 600ms;
  transition: transform 600ms;
}
section.propose .slide .info_block .order a {
  color: white;
}
section.propose .slide .info_block .order a:hover {
  text-decoration: none;
  color: #d7d7d7;
}
section.propose .slide img {
  width: 100%;
}
.bx-wrapper {
  border: none;
}
.bx-wrapper .bx-viewport {
  border: none;
  height: 240px;
}
/*****************************
			news
*****************************/
.news .left {
  padding: 25px 0 0 80px;
}
.news .right {
  padding: 25px 80px 0 0;
}
.news .news-block {
  margin-bottom: 15px;
}
.news .news-block article {
  margin-bottom: 12px;
  height: 65px;
  text-overflow: ellipsis;
  line-height: 22px;
  overflow: hidden;
}
.news .news-block img {
  width: 100%;
  margin-bottom: 35px;
}
.news .news-block .news-img {
  width: 100%;
  height: 220px;
  margin-bottom: 35px;
}
.news .news-block a {
  color: #FADA31;
}
.news hr {
  width: 84%;
}
.news-nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.news-nav ul {
  display: inline-block;
}
.news-nav ul li {
  float: left;
  margin-right: 4px;
}
.news-nav ul li:hover a {
  background-color: #ff6501;
  color: white;
}
.news-nav ul li a {
  background-color: white;
  color: #ff6501;
  padding: 3px 9px;
  margin-right: 3px;
  border-radius: 30px;
  display: block;
  border: 1px solid;
  text-decoration: none;
}
.news-nav ul li:active {
  background-color: #ff6501;
  color: white;
}
.news-nav ul li .active {
  border: 1px solid #ff6501;
  background-color: #ff6501;
  color: white;
}
.news-nav ul li .last {
  font-size: 11px;
  padding: 5px 8px 5px 9px;
}
/*****************************
		open-news
*****************************/
.news-open-general {
  padding: 15px 100px;
}
.news-open-general img {
  width: 100%;
}
.news-open-general nav a {
  display: inline-block;
  padding: 10px 70px;
  text-decoration: none;
  background-color: #ff6501;
  color: white;
  position: relative;
  bottom: 20px;
}
.news-open-general nav a i {
  margin-right: 5px;
}
.news-open-general article {
  line-height: 25px;
}
.triangle {
  content: '';
  position: absolute;
  left: 214px;
  bottom: 0px;
  border: 20px solid transparent;
  border-left: 12px solid #ff6501;
}
.open-news-nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.open-news-nav ul {
  display: inline-block;
}
.open-news-nav ul li {
  float: left;
  margin: 25px 28px 12px 28px;
}
.open-news-nav ul li a {
  background-color: white;
  color: #ff6501;
  padding: 2px 11px;
  margin-right: 3px;
  border-radius: 30px;
  display: block;
  border: 1px solid;
  text-decoration: none;
}
.open-news-nav ul li a i {
  font-size: 11px;
  margin: 0 5px;
}
.open-news-nav ul li a:active,
.open-news-nav ul li a:hover {
  background-color: #ff6501;
  color: white;
}
.open-news-nav ul li .active {
  border: 1px solid #ff6501;
  background-color: #ff6501;
  color: white;
}
/*****************************
		find-rours
*****************************/
.find_tours {
  padding-bottom: 20px;
}
/*****************************
		hot-rours
*****************************/
section.hot-tours {
  background: url(../images/sea.jpg) no-repeat bottom center;
  background-size: cover;
  color: #fff;
  /*margin-top:20px;*/
  /*border-top:2px solid @orange;*/
  border-bottom: 2px solid #ff6501;
}
section.hot-tours .info_block {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px 50px;
  margin: 45px 0;
  text-align: left;
  width: 433px;
  border-radius: 28px;
}
section.hot-tours .info_block p {
  font-size: 18px;
}
section.hot-tours .info_block p:first-child {
  font-size: 32px;
  margin-bottom: 1px;
}
section.hot-tours .info_block button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section.hot-tours .info_block button:hover {
  color: #d7d7d7;
}
section.hot-tours-bottom {
  background: url(../images/img_block.jpg) no-repeat center;
  background-color: #ff6501;
  border: 1px solid white;
  background-size: cover;
  color: #fff;
  height: 295px;
  /*margin-top:20px;*/
  /*border-top:2px solid @orange;
    border-bottom:2px solid @orange;*/
}
section.hot-tours-bottom .info_block {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px 50px;
  margin: 45px 0;
  text-align: left;
  width: 433px;
  border-radius: 28px;
}
section.hot-tours-bottom .info_block p {
  font-size: 32px;
}
section.hot-tours-bottom .info_block p:first-child {
  font-size: 40px;
  margin-bottom: 1px;
}
section.hot-tours-bottom .info_block button {
  background: #ff6501;
  border: 0;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 17px;
}
section.hot-tours-bottom .info_block button:hover {
  color: #d7d7d7;
}
.twocolumn {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.empty {
  height: 500px;
}
.send-message {
  background-color: #ff6501;
}
.send-message .message-form {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 60px 15px;
}
.send-message .message-form header {
  font-size: 16px;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}
.send-message .message-form .message-inputs {
  float: left;
  margin-right: 8px;
  width: 100%;
}
.send-message .message-form .message-inputs input {
  font-size: 12px;
  padding: 8px 10px 8px 10px;
  width: 100%;
  margin-bottom: 8px;
}
.send-message .message-form .message-text {
  display: inline-block;
  width: 95%;
}
.send-message .message-form .message-text textarea {
  width: 100%;
  padding: 8px 10px 8px 10px;
  height: 126px;
}
.send-message .message-form button {
  margin-right: auto;
  margin-left: auto;
  background-color: #ff6501;
  border: 1px solid white;
  color: white;
  display: table;
  font-size: 12px;
  padding: 5px 40px;
  margin-top: 25px;
}
.send-message .message-form button:hover {
  color: #d7d7d7;
}
/*****************************
			footer
*****************************/
footer {
  background: #ff6501;
  color: #fff;
}
footer .footer-column {
  margin: 20px 0;
  text-align: center;
}
footer .footer-column p {
  margin-bottom: 10px;
}
footer .footer-column .footer-first-b {
  display: inline-block;
  margin-bottom: 10px;
}
footer .footer-column ul {
  display: inline-block;
}
footer .footer-column ul li {
  width: 100%;
  float: right;
  margin-bottom: 3px;
}
footer .footer-column ul li i {
  width: 24px;
  height: 24px;
  padding-left: 2px;
  padding-top: 4px;
  border-radius: 24px;
  background: white;
  margin-right: 8px;
  font-size: 18px;
  color: #ff6501;
}
footer .footer-column ul li i:hover {
  color: #d7d7d7;
}
footer .footer-column ul li p {
  float: right;
}
footer .footer-column ul li .fa-smart-phone {
  padding-left: 1px;
  padding-top: 2px;
  font-size: 22px;
}
footer .footer-column ul li .fa-email {
  float: left;
  padding-top: 0;
  font-size: 22px;
  padding-right: 1px;
  margin-left: 35px;
  background-color: transparent;
  color: white;
}
footer .footer-social {
  padding-top: 16px;
}
footer .footer-social ul {
  margin-left: 10px;
  padding-top: 10px;
}
footer .footer-social ul a {
  display: inline-block;
  float: left;
}
footer .footer-social ul a li i {
  padding-left: 0px;
  font-size: 16px;
}
/*****************************
		reviews page
*****************************/
.rewiews-header {
  font-family: 'GOTHICBI' !important;
  font-size: 24px;
}
.rewiews-header h3 {
  font-family: 'GOTHICBI' !important;
  font-size: 14px;
  margin: 0;
  margin-bottom: 25px;
}
.review-block {
  border: 2px solid #ff6501;
  margin: 25px 0;
  margin-top: 0;
  border-radius: 10px;
  display: inline-block;
  padding: 35px 50px 20px 50px;
}
.review-block .review-img {
  width: 18%;
  height: 166px;
  float: right;
  position: absolute;
  right: 31px;
  top: 41px;
}
.review-block .review-text {
  font-family: 'marta_italic';
  float: left;
  margin-bottom: 15px;
}
.review-block .review-author {
  font-family: 'marta_italic';
  display: inline-block;
  color: orange;
}
.review-block .review-author span {
  color: black;
}
.review-send-general hr {
  color: #ff6501;
  width: 100%;
}
.review-send-block {
  display: inline-block;
  border: 2px solid #ff6501;
  margin-bottom: 25px;
  /*border-radius:25px;*/
  width: 100%;
}
.review-send-block header {
  background-color: #ff6501;
  /*border-radius:22px 22px 0 0;*/
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: 'GOTHICB';
  padding: 15px 15px;
}
.review-send-block header span:first-child {
  font-size: 21px;
}
.review-send-block header span:last-child {
  font-size: 14px;
}
.review-send-block article {
  display: inline-block;
  padding: 25px;
  width: 100%;
}
.review-send-block article input {
  font-family: '7fonts.ru_CaviarDreams';
  color: #ff6501;
  border: 1px solid #ff6501;
  width: 100%;
  margin-bottom: 12px;
  box-shadow: 0 0 2px 0 #ff6501;
  font-size: 12px;
  padding: 4px 10px;
}
.review-send-block article textarea {
  font-family: '7fonts.ru_CaviarDreams';
  color: #ff6501;
  margin-bottom: 12px;
  border: 1px solid #ff6501;
  width: 100%;
  box-shadow: 0 0 2px 0 #ff6501;
  font-size: 12px;
  padding: 4px 10px;
  height: 195px;
}
.review-send-block article img {
  max-width: 270px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
}
.review-send-block article span {
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: #ff6501;
  font-family: 'GOTHICB';
  margin-bottom: 20px;
}
.review-send-block article .btn {
  font-size: 12px;
  width: 160px;
  /*border-radius: 8px;*/
  display: table;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: #ff6501;
}
/*****************************
		Page - Contacts
*****************************/
.modal-content {
  background-color: #ff6501;
  color: white;
}
.order-modal-body {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
}
.modal-left {
  float: left;
  width: 40%;
}
.modal-left input {
  font-size: 12px;
  padding: 8px 10px 8px 10px;
  width: 100%;
  margin-bottom: 7px;
  color: black;
}
.modal-right {
  float: right;
  width: 60%;
  padding: 0 20px;
}
.modal-right textarea {
  color: black;
  width: 100%;
  height: 79px;
  padding: 8px 10px 8px 10px;
}
.order-modal-footer button {
  color: white;
  border: 1px solid white;
  background-color: #ff6501 !important;
}
.order-modal-footer button:hover {
  color: #d7d7d7;
}
/*****************************
		  services
*****************************/
section.services {
  margin-top: 30px;
}
section.services .service-icon {
  height: 70px;
  width: 70px;
  padding: 22px;
  text-align: center;
  background: url(../images/figure_hexagone.png) no-repeat center;
  background-size: contain;
  position: relative;
  bottom: 6px;
  /*position: relative;
            bottom: 18px;
            right: 12px;*/
}
section.services .service-icon i {
  font-size: 28px;
  color: white;
}
section.services .service-icon .fa-mobile {
  font-size: 42px;
  padding: 0px;
  position: relative;
  bottom: 7px;
}
section.services .container-fluid .row {
  padding: 18px 45px 18px 45px;
  background-color: #F3F3F3;
  color: white;
}
section.services .our-services-top {
  background-color: #F9F9F9;
  padding: 55px 300px 0 0;
  margin-bottom: 60px;
}
section.services .our-services-top img {
  width: 100%;
}
section.services .our-services-top span {
  font-size: 12px;
}
section.services .our-services-top h3 {
  margin-bottom: 5px;
}
section.services .our-services-text {
  padding-top: 63px;
  padding-left: 8px;
}
section.services .item-1 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2015/12/maldives-4-600x400.jpg") no-repeat center;
  background-size: cover;
}
section.services .item-2 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2016/05/136.jpg") no-repeat center;
  background-size: cover;
}
section.services .item-3 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2016/05/insurance.jpg") no-repeat center;
  background-size: cover;
}
section.services .item-4 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2016/05/viza.jpg") no-repeat center;
  background-size: cover;
}
section.services .item-5 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2016/05/tracel-sim-1024x682.png") no-repeat center;
  background-size: cover;
}
section.services .item-6 {
  background: url("http://dev27.wp.ittour.com/site15/wp-content/uploads/2016/05/obraz-za-rubejom.jpg") no-repeat center;
  background-size: cover;
}
section.services .service-item {
  margin-bottom: 50px;
  height: 200px;
}
section.services .service-item a {
  color: white;
  background-color: #ff6501;
  padding: 10px 15px;
  position: relative;
  top: 89px;
  font-size: 15px;
  float: right;
  text-decoration: none;
}
section.services .service-item a:hover {
  color: #d7d7d7;
}
section.services .service-question {
  background-color: #EEEEEE;
  padding: 40px 10px 40px 40px;
  margin-top: 60px;
}
section.services .service-question .triangle {
  content: '';
  position: absolute;
  left: 670px;
  bottom: -1px;
  border: 87px solid transparent;
  border-left: 53px solid #EEEEEE;
}
section.services .service-question .service-icon {
  float: left;
  position: relative;
  top: 26px;
  margin-right: 10px;
  margin-bottom: 30px;
}
section.services .service-question .question-text {
  display: inline-block;
  width: 86%;
}
section.services .service-button {
  margin-top: 128px;
}
section.services .service-button button {
  background-color: #ff6501;
  color: white;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
section.services .service-button button:hover {
  color: #d7d7d7;
}
/*****************************
*****************************/
/*****************************
		Page - Contacts
*****************************/
/*****************************
*****************************/
.contacts-container-bottom {
  background-color: #F3F3F3;
  padding: 3px 0 30px 0;
}
.contacts-profile {
  margin-top: 20px;
  text-align: center;
}
.contacts-profile img {
  width: 100%;
  margin-bottom: 15px;
  max-width: 290px;
}
.contacts-profile span {
  font-size: 16px;
}
.contacts-profile ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  margin-top: 15px;
}
.contacts-profile ul li {
  float: left;
  margin-bottom: 10px;
}
.contacts-profile ul li i {
  font-size: 22px;
}
.contacts-profile ul li a {
  text-decoration: none;
  color: black;
}
.contacts-profile ul li a:hover {
  color: #d7d7d7;
}
.contacts-profile ul li .contacts-icon {
  float: left;
  margin-right: 10px;
  border-radius: 20px;
  display: inline-block;
  padding: 9px 7px 6px 9px;
  background-color: #ff6501;
  color: white;
}
.contacts-profile ul li .icon-fb {
  padding: 9px 13px 6px 13px;
}
.contacts-profile ul li .icon-vk {
  padding: 9px 8px 6px 8px;
}
.contacts-profile ul li .icon-tw {
  padding: 9px 9px 6px 9px;
}
.contacts-container {
  padding-bottom: 40px;
}
.contacts-map {
  display: inline-block;
}
.test {
  height: 400px;
  border: 1px solid;
}
.contacts-about ul {
  margin-top: 20px;
  padding-left: 30px;
}
.contacts-about ul li {
  list-style: circle;
}
aside header h4 {
  margin-bottom: 0;
}
aside .contacts-aside {
  margin-bottom: 16px;
}
/*****************************
*****************************/
@media screen and (max-width: 2000px) {
  header .phones {
    padding-left: 0;
  }
  header .phones {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1208px) {
  footer .footer-column ul li .fa-email {
    margin-left: 27px;
  }
}
@media screen and (max-width: 1091px) {
  .phones {
    display: table !important;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  footer .footer-column ul li .fa-email {
    margin-left: 29px;
  }
  .news .left {
    padding: 25px 0 0 0;
  }
  .news .right {
    padding: 25px 0 0 0;
  }
  .news hr {
    width: 100%;
  }
  .message-text {
    width: 100% !important;
  }
  .news-open-general {
    padding: 15px 0;
  }
}
@media screen and (max-width: 991px) {
  header .social {
    margin-left: auto;
  }
  header .logo {
    margin-left: auto;
    display: table;
    margin-right: auto;
    padding-right: 0;
  }
  header .phones {
    margin-left: auto;
    width: auto;
  }
  #responsive-menu ul.navbar-nav li {
    padding: 5px 10px !important;
  }
  footer .footer-column ul li .fa-email {
    float: none;
    margin-left: 28px;
  }
  footer .footer-column ul li .fa-email {
    margin-left: 27px;
  }
  .review-send-block article {
    padding: 25px 40px 25px 40px;
  }
}
@media screen and (max-width: 767px) {
  #responsive-menu ul {
    width: 166px;
  }
  section.img_block .info_block {
    width: 226px;
  }
  .info-text {
    display: none;
  }
  .carousel {
    display: none;
  }
  section.hot-tours .info_block {
    width: 275px;
  }
  .review-block {
    padding: 33px 22px 20px 22px;
  }
  .review-send-block article .btn {
    font-size: 11px;
  }
  .review-send-block article .btn {
    width: 128px;
  }
  section.hot-tours .info_block p:first-child {
    font-size: 25px;
  }
}
@media screen and (max-width: 571px) {
  .open-news-nav ul li {
    float: none;
  }
  .modal-left {
    width: 100%;
  }
  .modal-right {
    width: 100%;
    padding: 0;
  }
}